.seventh-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

.seventh-section .section-title h1 {
  font-family: 'Averta-Bold', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #78BE21;
  text-align: center;
  margin-bottom: 30px;
}

.seventh-section .section-text p {
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6A6A57;
}

.seventh-section .section-buttons {
  margin: 20px;
}

.seventh-section .section-buttons button {
  margin: 0 30px;
  width: 200px;
  height: 40px;
  border: 1px solid #78BE21;
  background: none;
  border-radius: 20px;
}

.seventh-section .section-buttons button.primary {
  background-color: #78BE21;
}

.seventh-section .section-buttons img {
  display: inline-flex;
  vertical-align: top;
}

.seventh-section .section-buttons p {
  display: inline-block;
  margin-top: 3px;
  font-family: 'Averta-Bold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #78BE21;
}

.seventh-section .section-buttons p.primary {
  color: #fff;
}

.seventh-section .section-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.seventh-section .section-images .image {
  width: 285px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.seventh-section .image img {
  width: 100%;
  max-width: 285px;
}

.seventh-section .image p {
  margin: 10px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #6A6A57;
}

.seventh-section .image p.name {
  font-family: 'Averta-Bold', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #78BE21;
}

@media (max-width: 1024px) {
  .seventh-section .section-text p {
    width: 80%;
    margin: 0 20px;
  }

  .seventh-section .section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  }

  .seventh-section .section-buttons button {
    margin: 10px;
  }

  .seventh-section .section-images {
    display: grid;
    grid-template-columns: 1fr;
  }

  .seventh-section .section-images .image {
    justify-self: center;
    align-self: center;
  }

}