.fifth-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 80px;
}

.fifth-section .section-text {
  width: 60%;
  background: #4698CA;
  padding: 120px 30px;
}

.fifth-section .section-text h1 {
  max-width: 320px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #FFBF3F;
  font-family: 'Averta-Bold', sans-serif;
}

.fifth-section .section-text p {
  max-width: 80%;
  margin: 35px 0;
  margin-right: 40px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

.fifth-section .section-text button {
  width: 180px;
  height: 50px;
  border: none;
  background: #FFBF3F;
  border-radius: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Averta-Bold', sans-serif;
}

.fifth-section .section-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  margin-left: -120px;
  margin-right: 30px;
}

.fifth-section .section-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 250px;
  max-height: 550px;
  margin: 0 15px;
}

.section-cards .card .card-img {
  width: 100%;
  max-width: 305px;
  object-fit: fill;
}

.section-cards .card .card-title {
  margin: 15px 10px;
  max-width: 265px;
  height: 70px;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #4698CA;
  font-family: 'Averta-Bold', sans-serif;
}

.section-cards .card .card-text {
  margin: 10px;
  max-width: 265px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #6A6A57;
  font-family: 'PT Sans', sans-serif;
}

.section-cards .card button {
  justify-self: flex-end;
  margin: 10px;
  width: 135px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #4F4F40;
  font-family: 'Averta-Bold', sans-serif;
}

@media (max-width: 1200px) {
  .fifth-section .section-cards {
    margin-left: -80px;
  }
}

@media (max-width: 1200px) {
  .fifth-section .section-text {
    width: 70%;
    padding: 30px;
    margin: 50px 0;
  }

  .fifth-section .section-cards {
    margin-left: -40px;
  }
}

@media (max-width: 1024px) {
  .fifth-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 180px 0;
  }

  .fifth-section .section-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .fifth-section .section-text h1, 
  .fifth-section .section-text p {
    margin: 25px 0;
    max-width: auto;
  }

  .fifth-section .section-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .fifth-section {
    margin: 20px 0;
    padding: 20px 0;
  }
}