.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  font-family: 'PT Sans', sans-serif;
}

.header .logo {
  width: 120px;
  height: 80px;
  margin: 0 10px;
}

.header .actions {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 40px;
}

.header .actions a {
  margin: 15px 10px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}


.header .actions .header-btn {
  width: 200px;
  height: 50px;
  background-color: #FFFFFF;
  color: #317CAA;
  border-radius: 40px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.10em;
  font-family: 'Averta-Regular', sans-serif;
}

.header .lang-dropdown {
  width: 120px;
  margin-left: -10px;
}

.header .lang-dropdown select {
  padding: 10px;
  border: 1px solid #626262;
  background:none;
  font-family: 'Averta-Bold', sans-serif;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #fff;
}

.header .lang-dropdown select::after {
  background-color: #78BE21;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .logo {
    margin-bottom: 20px;
  }

  .header .actions {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
  }

  .header .lang-dropdown {
    margin: 25px 0;
    margin-right: -60px;
  }

}