* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	box-sizing: border-box;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}