.section {
  background-color: #3286C3;
  display: flex;
  justify-content: space-evenly;
  height: 280px;
  padding-top: 50px;
  width: 100%;
}

.section .section-title {
  width: 500px;
  color: #fff;
  font-size: 48px;
  line-height: 49px;
}

.section .section-text {
  width: 250px;
  margin-left: -50px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #051339;
}

.section .section-button {
  width: 200px;
  height: 160px;
  display: flex;
  justify-content: center;
}

.section .section-button button {
  background-color: #2E7BB2;
  color: #fff;
  text-align: center;
  border: 0;
}

.section-button button p {
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin: 5px 10px;
}