.eighth-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F2F2EE;
  margin-top: 100px;
  padding: 80px;
}

.eighth-section .section-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eighth-section .section-text h1 {
  font-family: 'Averta-Bold';
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #FA4616;
  margin-top: -40px;
  text-align: left;
}

.eighth-section .section-text p {
  font-family: 'PT Sans';
  width: 400px;
  margin: 50px;
  margin-right: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #6A6A57;
}

.eighth-section .section-text button {
  background: none #FFFFFF;
  border: none;
  width: 210px;
  height: 50px;
  border-radius: 40px;
  font-family: 'Averta-Bold';
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FF7F41;
}

.eighth-section .section-image {
  height: 465px;
  margin-left: 20px;
}

.eighth-section .section-image img {
  max-width: 595px;
  width: 100%;
}

@media (max-width: 1024px) {
  .eighth-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .eighth-section .section-text {
    width: 80%;
  }

  .eighth-section .section-text p {
    width: auto;
    margin: 20px 0;
  }

  .eighth-section .section-image {
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
}