.fourth-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
  padding: 0 90px;
  max-height: 650px;
}

.fourth-section .section-image {
  width: 60%;
  display: flex;
  align-items: center;
}

.fourth-section .section-image img {
  width: 100%;
}

.fourth-section .section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  min-height: 345px;
  margin-bottom: 50px;
}

.fourth-section .section-text .title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #FFBF3F;
  margin: 5px 0;
  font-family: 'Averta-Bold', sans-serif;
}

.fourth-section .section-text p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #6A6A57;
  margin-top: -30px;
  font-family: 'PT Sans', sans-serif;
}

.fourth-section .section-text button {
  background: #FFBF3F;
  border-radius: 40px;
  border: 0;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Averta-Bold', sans-serif;
}


@media (max-width: 1024px) {
  .fourth-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 0;
  }

  .fourth-section .section-image,
  .fourth-section .section-text {
    width: 100%;
    justify-self: center;
  }

  .fourth-section .section-text {
    min-height: auto;
    max-width: auto;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .fourth-section .section-text .title {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .fourth-section .section-text p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
